body{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: bold;
    font-size: 12px;
}

.centerItems{
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer{
    color: white;
    background-color: #1a1a1a;
    position: relative;
    bottom: 0;
    width: 100%;
    max-height: 10%;
    text-align: center;
}


main{
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* padding-top: 20px; */
    padding: 20px 10% 20px 10%;
    /* padding-left: 10%;
    padding-right: 10%; */
    min-height: 90%;
}


.navbrand{
    font-weight: bold;
    font-size: 24;
    color: white;
    text-shadow: white 0.1em 0.1em 0.2em;
}

#navItem{
    color: white;
    text-shadow: white 0.1em 0.1em 0.2em;
}

.fp-thumb{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

#testcss{
    background-color: #1a1a1a;
    color: white;
    text-shadow: white 0.1em 0.1em 0.2em;
}
