<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <!-- IMPORT STYLE.CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- IMPORT BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- GOOGLE FONTS Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar bg-body-tertiary d-flex justify-content-center text-center">
        <div class="container-fluid py-3">
          <a class="navbar-brand text-center" href="/shop">ShopName</a>
        </div>
        <div class="row">
            <table class="nav-link">
                <tr>
                    <td class="px-3"><a class="nav-link" href="/">Home</a></td>
                    <td class="px-3"><a class="nav-link" href="/shop">Shop</a></td>
                    <td class="px-3"><a class="nav-link" href="/mycart">My Cart</a></td>
                    <td class="px-3"><a class="nav-link" href="/myaccount">My Account</a></td>
                    <td class="px-3"><a class="nav-link" href="/about">About Us</a></td>
                </tr>
            </table>
        </div> 
    </nav>

    <main class="justify-content-center">
        <!-- INSERT CONTENT HERE -->
    <div class = "about_bg">
        <div class="color-yellow2">  </t> Gundam is a popular and long-running franchise of Japanese animated series (anime) and related media, centered around giant mecha robots called "Mobile Suits." The franchise was created by Yoshiyuki Tomino and produced by Sunrise, a Japanese animation studio. The first series, titled "Mobile Suit Gundam," premiered in Japan in 1979.</div>

        <div class="color-green3">Key elements of the Gundam franchise include:</div>
        
        <div class="color-blue2"> 
        Mobile Suits:</div> <div class="color-white1"> These are humanoid, giant robots piloted by humans. They are often equipped with various weapons and advanced technology, and they play a central role in the series' battles and conflicts.
        </div>
        <div class="color-blue2"> 
        War and Conflict: </div> <div class="color-white1">Gundam series typically take place in the context of interstellar wars and political struggles. The storylines often explore the human cost of war, the consequences of violence, and themes of sacrifice and heroism.
        </div>
        <div class="color-blue2"> 
        Universal Century Timeline: </div> <div class="color-white1">The Gundam franchise is divided into different timelines, with the Universal Century (UC) being the original and most iconic timeline. It encompasses many series and movies set in the same universe, with some of the most famous entries being "Mobile Suit Gundam," "Mobile Suit Zeta Gundam," "Mobile Suit Gundam: Char's Counterattack," and others.
        </div>
        <div class="color-blue2"> 
        Alternate Universes: </div> <div class="color-white1">In addition to the Universal Century timeline, the Gundam franchise has expanded into various alternate universes, each with its own unique setting and characters. Some of these alternate universes include Gundam Wing, Gundam SEED, Gundam 00, Gundam Iron-Blooded Orphans, and many more.
        </div>
        <div class="color-blue2"> 
        Newtypes: </div> <div class="color-white1">The concept of "Newtypes" is significant in many Gundam series. Newtypes are humans with heightened psychic abilities and increased empathy, often considered the next stage of human evolution. They play a crucial role in shaping the narrative and themes of the series.
        </div>
        <div class="color-blue2"> 
        Legacy and Influence: </div> <div class="color-white1">Gundam has had a massive impact on the anime and mecha genre, becoming one of the most influential franchises in Japanese pop culture. It has inspired numerous spin-offs, movies, video games, model kits (Gunpla), and merchandise.
         </div>
        <div class="color-green1"> 
        The Gundam franchise continues to evolve, with new series and projects being released periodically. If you're interested in exploring Gundam, there are many entry points depending on your preferences for timelines and themes!
        </div>

    </div>


    </main>

    <footer>
        <div class="container-fluid bg-dark text-light text-center py-3">
            <p>ShopName - Cayetano, Guinto, Rosete, Velasco, Velasquez</p>
        </div>
    </footer>
    <script>
        // INSERT SCRIPT HERE




    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>