body{
    font-family: 'Poppins', sans-serif; 
}

.navbar-brand{
    /* center */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
footer{
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
nav{
    background-color: #320a8f;
    /* color: rgb(250, 245, 245); */

}
main{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    /* color: red; */
}

.shopItemLabel{
    font-size: medium;
    font-weight: bold;
    color: #320a8f;
    text-align: left;
}
.shopTableLabel{
    font-size: 20px;
    font-weight: bold;
    color: #320a8f;
    text-align: center;
}
.shopTableItem{
    text-align: center;
    padding: 10px;
}

.img-thumb{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 150px;
    object-fit: scale-down;
}




/*text fonts h1-h5 and p*/ 
h1{
    color: rgb(3, 102, 21);
    font-family: arial;
    font-size: 50px;
}

h2{
    color: rgb(13, 200, 159);
    font-family: arial;
    font-size: 40px;
}

h3{
    color: rgb(3, 118, 58);
    font-family: arial;
    font-size: 30px;
}

h4{
    color: rgb(31, 165, 75);
    font-family: arial;
    font-size: 20px;
}

h5{
    color: rgb(12, 128, 43);
    font-family: arial;
    font-size: 10px;
}

p{
    color: rgb(1, 40, 12);
    font-family: arial;
    
}