<html>
<head>
    <title>Hobby Lobby | Register Account</title>
    <meta charset="utf-8">
    <!-- IMPORT STYLE.CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <!-- IMPORT BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <!-- GOOGLE FONTS Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">

</head>
<style>
  body{
    font-family: 'Inter', sans-serif;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;

    background-image: url("/img/bgs/aerial-bg.jpg");
    /* background-image: url("/img/bgs/unicorn-bg.jpg"); */
    backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    /* filter: grayscale(100%);  */
    /* background-color: rgb(85, 19, 19); */
    background-color: rgb(34, 76, 139);
    
  }
</style>
<body class="bg-info">
  <nav class="nav nav-tabs flex-column justify-content-center text-center bg-dark text-light py-3">
    <a href="/" class="navbar-brand" id="navbarBrand"><span class="myBrand">HobbyLobby</span></a>
    <ul class="nav justify-content-center text-light">
        <li class="nav-item">
            <a class="px-3 text-light" href="/page-home">Home</a>
        </li>
        <li class="nav-item">
            <a class="px-3 text-light" href="/page-shop">Shop</a>
        </li>
        <li class="nav-item">
            <a class="px-3 text-light" href="/page-userCart">My Cart</a>
        </li>
        <li class="nav-item">
            <a class="px-3 text-light" href="/page-userProfile">My Account</a>
        </li>
        <li class="nav-item">
          <a class="px-3 text-light" href="/page-contactUs">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="px-3 text-light" href="/page-about">About</a>
        </li>
    </ul>
  </nav>

    <main class="container container-fluid" >
        <!-- INSERT CONTENT HERE -->
        <div class="card container-fluid" id="logincard" style="max-width: 400px;">
          <div class="card-body">
  
            <div class="form-group">
              <div class="centerItems">
                <h1>Welcome to Hobby Lobby</h1>
                <div class="container">
                  <span class="badge text-bg-info">Member Sign-up</span>
                </div>
              </div>
            
              <form id="createAccountForm" method="post" action="/createNewUser">
                <input type="hidden" name="user" value="true" hidden>
                <div class="container">
                  <label for="userid">Username</label>
                  <input class="form-control" 
                  type="text" 
                  id="userName" 
                  name="userName" required placeholder="Input Usernmame">
                </div>
                <div class="container">
                  <label for="userPass">Password</label>
                  <input  class="form-control" type="password" id="userPass" name="userPass" required placeholder="Type your Password">
                </div>
                <div class="container pt-1 px-3">              
                  <div class="row">
                    <div class="col">
                      <input class="checkbox" type="checkbox" onclick="showPassword()"><span>  Show Password</span>
                    </div>
                  </div>
                  
                </div>
                <div class="d-grid pt-2">
                  <button type="submit" class="btn btn-primary">Create My Account</button>
                </div>
                
                
                <div class="container pt-2 centerItems">
                  <div class="row">
                    <a href="/login" class="txt-reset txt-subtle">Have an account? Login Instead</a>
                  </div>
                </div>
              </form>
              
  
            </div>
          </div>
        </div>
        
              






    </main>

    <footer>
        <div class="container-fluid bg-dark text-light text-center py-3">
            <p>ShopName - Cayetano, Guinto, Rosete, Velasco, Velasquez</p>
        </div>
    </footer>

    <!-- <script>
        // TOGGLE PASSWORD SCRIPT
        function showPassword(){
          let pass = document.getElementById("userpass");
          if (pass.type === "password"){
            pass.type = "text";
          }
          else {
            pass.type = "password";
          }
        }
        

        function verifyFields(){
          console.log("Verifying Fields");
          let uname = document.getElementById("username").value;
          let upass = document.getElementById("userpass").value;

          if (uname == "" || upass == ""){
            alert("Please fill out all fields");
            consol.log("Please fill out all fields");
            return false;
          }
          else {
            return true;
            console.log(upname, upass);
          }
        }
      
      function resetFields(){
        document.getElementById("username").value = "";
        document.getElementById("userpass").value = "";
      }

      async function registerNewAccount(){
        // pass items to /createNewUser route add uservariable true 
        
        let user = true; 
        let uname = document.getElementById("username").value;
        let upass = document.getElementById("userpass").value;
        let data = {uname, upass};
        console.log(data);

        if (verifyFields()){
          let response = await fetch('/createNewUser', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(data)
          });
          let result = await response.json();
          console.log(result);
          if (result.status == "success"){
            alert("Account Created Successfully");
            resetFields();
            window.location.href = "/login";
          }
          else {
            alert("Account Creation Failed");
          }
        }
        else {
          console.log("Please fill out all fields");
        }

        
      }
    </script> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>