<html>
<head>
    <title>LogIn</title>
    <meta charset="utf-8">
    <!-- IMPORT STYLE.CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <!-- IMPORT BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <!-- GOOGLE FONTS Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav nav-tabs flex-column justify-content-center text-center bg-dark text-light py-3">
        <a href="/" class="navbar-brand" id="navbarBrand"><span class="myBrand">HobbyLobby</span></a>
        <ul class="nav justify-content-center text-light">
            <li class="nav-item">
                <a class="px-3 text-light" href="/page-home">Home</a>
            </li>
            <li class="nav-item">
                <a class="px-3 text-light" href="/page-shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="px-3 text-light" href="/page-userCart">My Cart</a>
            </li>
            <li class="nav-item">
                <a class="px-3 text-light" href="/page-userProfile">My Account</a>
            </li>
            <li class="nav-item">
                <a class="px-3 text-light" href="/page-about">About</a>
            </li>
        </ul>
      </nav>
      <main>
        
      </main>
</body>
</html>